footer
	.footer
		.home-partner(setBackground='../img/index/bg-home-6.png')
				.container
					.list-partners
						.row
							.col-lg-2
								.col-title-partner.d-flex.align-center
									.title.text-white.f-24.text-uppercase.fw-700 đối tác
							.col-lg-10
								.col-list-pertner.d-flex.align-center.flex-row.flex-wrap
									-for(i=1; i<5; i++)
										.item-partner.d-flex.align-center.justify-center.flex-
											.item-img
												img.transition.lazyload(data-src="./img/index/partner-"+i+".png", alt="")
					.list-partners
						.row
							.col-lg-2
								.col-title-partner.d-flex.align-center
									.title.text-white.f-24.text-uppercase.fw-700 ngân hàng liên kết
							.col-lg-10
								.col-list-pertner.d-flex.align-center.flex-row.flex-wrap
									-for(i=5; i<10; i++)
										.item-partner.d-flex.align-center.justify-center
											.item-img
												img.transition.lazyload(data-src="./img/index/partner-"+i+".png", alt="")
					.list-partners
						.row
							.col-lg-2
								.col-title-partner.d-flex.align-center
									.title.text-white.f-24.text-uppercase.fw-700 dự án
							.col-lg-10
								.col-list-pertner.d-flex.align-center.flex-row.flex-wrap
									-for(i=10; i<16; i++)
										.item-partner.d-flex.align-center.justify-center
											.item-img
												img.transition.lazyload(data-src="./img/index/partner-"+i+".png", alt="")
		.container
			.footer-header
				.row
					.col-lg-3.col-md-6.col-sm-6
						.footer-item.p-0
							.item-header
								h1.f-30 Asia New Time
							.item-body.p-0
								h2.f-18 Real Estate Development
					.col-lg-3.col-md-6.col-sm-6
						.footer-item
							.item-header.d-flex.align-center
								em.ri-phone-line
								.text.f-18 Hotline
							.item-body
								.desc 
									span 0911 200 800
					.col-lg-3.col-md-6.col-sm-6
						.footer-item
							.item-header.d-flex.align-center
								em.ri-mail-line
								.text.f-18 Email
							.item-body
								.desc info@asianewtime.com 
					.col-lg-3.col-md-6.col-sm-6
						.footer-item
							.item-header.d-flex.align-center
								em.ri-cursor-line
								.text.f-18 Website
							.item-body
								.desc https://www.asianewtime.com/
			.footer-bottom
				.row
					.col-lg-3.col-md-6
						.footer-item
							.item-header
								.caption.f-18 Trụ sở chính
							.item-body
								.desc
									p 
										strong Địa chỉ: 
										|29 Đường D8, Khu biệt thự SaiGon Pearl, phường 22, quận Bình Thạnh, thành phố Hồ Chí Minh.
									p 
										strong Điện thoại: 
										|0123 456 789
					.col-lg-3.col-md-6
						.footer-item
							.item-header
								.caption.f-18 Văn phòng Tản Đà
							.item-body
								.desc
									p 
										strong Địa chỉ: 
										|50 Tản Đà, phường 10, quận 5, thành phố Hồ Chí Minh.
									p 
										strong Điện thoại: 
										|0123 456 789
					.col-lg-3.col-md-6
						.footer-item
							.item-header
								.caption.f-18 Văn phòng Quy Nhơn
							.item-body
								.desc
									p 
										strong Địa chỉ: 
										|14 Nguyễn Thị Định, phường Nguyễn Văn Cừ, thành phố Quy Nhơn, Bình Định.
									p 
										strong Điện thoại: 
										|0123 456 789
					.col-lg-3.col-md-6
						.footer-item
							.item-header
								.caption.f-18 Văn phòng Bà Rịa - Vũng Tàu
							.item-body
								.desc
									p 
										strong Địa chỉ: 
										|29 Hai Bà Trưng, phường Phước Hiệp, thành phố Bà Rịa, tỉnh Bà Rịa - Vũng Tàu.
									p 
										strong Điện thoại: 
										|0123 456 789
			.coppy-right.d-flex.align-center
				ul.socail
					li
						a(href="")
							em.ri-facebook-fill
					li
						a(href="")
							em.ri-youtube-fill
					li
						a(href="")
							em.ri-instagram-line
				.copy Copyright © 2020 Bản quyền thuộc về Asia New Time. Thiết kế Website bởi Cánh Cam.
				ul.list-coppy.d-flex.align-center
					li
						a(href="") Điều khoản sử dụng
					li
						a(href="") Chính sách bảo mật
					li
						a(href="") Sơ đồ trang web
