header.d-flex.align-center
	.container
		.main-nav.d-flex.align-center
			.navbar-collapse.left-nav.d-flex.align-center
				ul.navbar-nav.d-flex.align-center
					li.nav-item.active
						a.nav-link.text-uppercase.f-18(href='#')
							|trang chủ
					li.nav-item
						a.nav-link.text-uppercase.f-18(href='#') giới thiệu
					li.nav-item
						a.nav-link.text-uppercase.f-18(href='#') dự án
					li.nav-item
						a.nav-link.text-uppercase.f-18(href='#') resale
					li.nav-item
						a.nav-link.text-uppercase.f-18(href='#') tin tức
			a.navbar-brand.mx-auto(href='#')
				img(src='./img/logo.png')
			.navbar-collapse.right-nav.d-flex.align-center
				ul.navbar-nav.ml-auto.d-flex.align-center
					li.nav-item
						a.nav-link.text-uppercase.f-18(href='#') tuyển dụng
					li.nav-item
						a.nav-link.text-uppercase.f-18(href='#') đối tác
					li.nav-item
						a.nav-link.text-uppercase.f-18(href='#') liên hệ
				.header-icon.d-flex.align-center
					.language
						a.text-uppercase.f-16.active(href="") vn
						a.text-uppercase.f-16(href="") en
					.btn-search
						em.ri-search-line
			.kv-toggle
				span
				span
				span
				span
	.search-wrapper
		.container
			.form-group
				input(type="text" placeholder="Tìm sản phẩm...")
				button.searchbutton.btn.btn__search
					em.ri-search-line
		.close-button
			span X