section#pro-detail-2.pro-detail-2.kv-section
	.container-fluid
		.list-wrapper
			.row
				.col-lg-5.p-0
					.content-wrapper.d-flex.flex-column.justify-center(setBackground='./img/project/detail-bg-2.png')
						.content
							.main-title.fw-700.text-main.text-uppercase vị trí
							.desc.color-text
								ul
									li
										p Mặt tiền 
											span 1000
											|m 
											|trên quốc lộ 
											span 19
											|B.
									li
										p Mặt tiền tuyến NHƠN LÝ dẫn vào khu du lịch KỲ CO EO GIÓ, Safari, sân golf và làng chài truyền thống
									li
										p Cửa ngõ của toàn khu kinh tế NHƠN HỘI 
											span 18000 
											|ha
									li
										p Quy hoạch và kiến trúc trở thành tâm điểm thương mại – giải trí – dịch vụ – nghỉ ngơi của toàn khu vực.
									li
										p Vị trí đón đầu các tuyến hành trình từ trung tâm Quy Nhơn ra Nhơn Hội và từ sân bay Quốc tế ra Nhơn Hội.
									li
										p Vị trí 
											span 2 
											|mặt tiền, liền kề safari duy nhất miền Trung và sân golf quốc tế 
											span 36 
											|lỗ.
				.col-lg-7.p-0.zoom-img
					.img
						a(href="https://www.youtube.com/watch?v=bLdmqV0P3wE" data-fancybox)
							img.lazyload(data-src="./img/project/detail-1.png", alt="")
							.play-icon
								img(src="./img/icons/play-button.png", alt="")
		.list-wrapper
			.row
				.col-lg-5.p-0
					.content-wrapper.d-flex.flex-column.justify-center(setBackground='./img/project/detail-bg-1.png')
						.content
							.main-title.fw-700.text-white.text-uppercase LỢI THẾ MẠNH MẼ ĐẾN TỪ VỊ TRÍ
							.desc.color-white
								ul
									li
										p Với ưu thế lớn về mặt vị trí, Khu đô thị Kỳ Co Gateway được định vị trở thành Khu đô thị hiện đại ven biển Kỳ Co – Eo Gió.
									li
										p Thành phố quy hoạch hoàn chỉnh, tiện ích nội khu được phát triển phục vụ hậu cần cho du lịch – nghỉ dưỡng – Second Home.
									li
										p Kỳ Co Gateway thực sự mang lại một nơi chốn đầu tư lý tưởng với vị trí cửa ngõ, quy hoạch tiện ích độc đáo và thiết kế đột phá về kiến trúc Eco – Architect.
									li
										p Kỳ Co Gateway nằm ngay trong trung tâm Khu đô thị Nhơn Hội – TP.Quy Nhơn nên từ dự án có thể dễ dàng kết nối đến các tiện ích bên ngoài khu vực. Thời gian chỉ từ 
											span 10 – 25 
											|phút di chuyển.

				.col-lg-7.p-0.zoom-img
					.img
						img.lazyload(data-src="./img/project/detail-2.png", alt="")
