section.pro-detail-5.kv-section
	.container
		.main-title.text-main.text-uppercase.fw-900 căn hộ mẫu
		.kv-slide
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.img
							img.lazyload(data-src="./img/project/canhomau-1.png", alt="")
					.swiper-slide
						.img
							img.lazyload(data-src="./img/project/canhomau-2.png", alt="")
					.swiper-slide
						.img
							img.lazyload(data-src="./img/project/canhomau-3.png", alt="")
			.swiper-button-next
			.swiper-button-prev
			.list-wrapper#pro-detail-5
				.row
					.col-lg-7.pr-0.zoom-img
						.item-img
							img.lazyload(data-src="./img/project/canhomau-4.png", alt="")
					.col-lg-5.pl-0
						.project-content.d-flex.justify-center.flex-column
							.main-title.fw-900.text-uppercase.text-main KHU ECO – SMART CITY
							.desc
								.text.fw-700.f-16 Đây là khu vực phát triển khu dân cư sinh thái, mang tính chất hiện đại nhưng vẫn gần gũi với thiên nhiên. Các mẫu nhà được thiết kế mật độ thấp, bố trí nhiều cây xanh cảnh quan từ những khu vườn nhỏ tạo thành một khu vườn lớn biến ECO – SMART CITY trở thành một lá phổi xanh cho Ky Co Gateway.
			.list-wrapper#pro-detail-6
				.row
					.col-lg-7.pr-0.zoom-img
						.item-img
							img.lazyload(data-src="./img/project/canhomau-5.png", alt="")
					.col-lg-5.pl-0
						.project-content.d-flex.justify-center.flex-column
							.main-title.fw-900.text-uppercase.text-main KHU OCEAN VIEW
							.desc
								.text.fw-700.f-16 Khu Ocean View hay còn gọi là Deluxe – town: đây là khu trung tâm nghỉ dưỡng ven Hồ vô cực (Swan Lake) – Safari Quy Nhơn – Sân Golf 36 lỗ chuẩn PGA. Đây là nơi bố trí các Biệt thự vườn – Biệt thự nghỉ dưỡng kiểu Nhật mang tính Zen – Theme. Đây là nơi chủ nhân có thể sở hữu – nghỉ ngơi – xác định đẳng cấp – riêng tư – phục hồi hoàn hảo cho sức khoẻ. Và trên hết, Khu Ocean View là điểm ngắm hệ sinh thái biển kỳ quan đẹp nhất nhì Việt Nam là Kỳ Co – Eo Gió. Khu Ocean View - Dự án Kỳ Co Gateway
			.list-wrapper#pro-detail-7
				.row
					.col-lg-7.pr-0.zoom-img
						.item-img
							img.lazyload(data-src="./img/project/canhomau-6.png", alt="")
					.col-lg-5.pl-0
						.project-content.d-flex.justify-center.flex-column
							.main-title.fw-900.text-uppercase.text-main KHU central
							.desc
								.text.fw-700.f-16 Khu Central hay còn gọi là Vibe Town: Với chức năng là trung tâm tiện ích của Kỳ Co Gateway và là nơi tập trung tiện ích của cả Khu đô thị sinh thái Nhơn Hội. Đây là khu vực bố trí dày các tiện ích: khu thể thao – khu công viên – khu hồ bơi – khu mua sắm – các Boutique Shophouse phục vụ cho nhu cầu trải nghiệm, Trung tâm điều dưỡng sức khoẻ quốc tế, trường kỹ năng quốc tế, nhà trẻ dành cho chuyên gia quốc tế.

			.list-wrapper#pro-detail-8
				.row
					.col-lg-7.pr-0.zoom-img
						.item-img
							img.lazyload(data-src="./img/project/canhomau-7.png", alt="")
					.col-lg-5.pl-0
						.project-content.d-flex.justify-center.flex-column
							.main-title.fw-900.text-uppercase.text-main pháp lý của kỳ co
							.desc
								ul
									li
										p Hiện dự án đã bàn giao sổ đỏ từng nền theo từng phân khu
									li
										p Quy đất đô thị ven biển, xây tự do có quy hoạch khan hiếm
