section#pro-detail-3.pro-detail-3.kv-section(setBackground='./img/project/detail-bg-3.png')
	.container
		.main-title.fw-900.text-main.text-uppercase.center tiện ích
		.swiper-column
			.swiper-container
				.swiper-wrapper
					-for(i = 1; i < 7; i++)
						.swiper-slide
							.item-ult.zoom-img
								a(href="./img/project/item-"+i+".png" data-fancybox="Tienich").item-img
									img.lazyload(data-src="./img/project/item-"+i+".png", alt="")
								.item-content
									.title.f-18.color-text.fw-700.text-center Khu phức hợp thể thao nước hàng đầu gần 1 ha
			.wrap-button
				.button-prev.swiper-button-prev-2
				.button-next.swiper-button-next-2