section#pro-detail-1.pro-detail-1.kv-section
	.background
		img.lazyload(data-src="./img/project/bg-1.png", alt="")
	.zone-nav
		.container
			.categroly
				.box-category
					em.material-icons expand_more
				ul
					li.d-flex.align-center.justify-center.transition
						a.nav-link.fw-700.f-14(href="#pro-detail-1") Kỳ Co Gateway
					li.d-flex.align-center.justify-center.transition
						a.nav-link.fw-700.f-14(href="#pro-detail-2") Vị trí
					li.d-flex.align-center.justify-center.transition
						a.nav-link.fw-700.f-14(href="#pro-detail-2") Lợi thế
					li.d-flex.align-center.justify-center.transition
						a.nav-link.fw-700.f-14(href="#pro-detail-3") Tiện ích
					li.d-flex.align-center.justify-center.transition
						a.nav-link.fw-700.f-14(href="#pro-detail-4") Mặt bằng
					li.d-flex.align-center.justify-center.transition
						a.nav-link.fw-700.f-14(href="#pro-detail-5") Eco - Smart city
					li.d-flex.align-center.justify-center.transition
						a.nav-link.fw-700.f-14(href="#pro-detail-6") Central
					li.d-flex.align-center.justify-center.transition
						a.nav-link.fw-700.f-14(href="#pro-detail-7") Ocean View
					li.d-flex.align-center.justify-center.transition
						a.nav-link.fw-700.f-14(href="#pro-detail-8") Pháp lý
	.container
		.main-title.center.text-uppercase.text-main kỳ co gateway
		.desc.f-16.fw-700.text-center.color-text Tọa lại tại vị trí cửa ngõ Giao thương - Du lịch - Công nghệ cao, Kỳ Co Gateway vừa là tụ điểm vui chơi, giải trí của tất cả du khách trước khi khám phá "Đảo Jeju" Eo Gió hay "Thiên đường Maldives" Kỳ Co
		.list-items.d-flex.align-center.justify-center
			.item
				.item-img.text-center
					img.lazyload(data-src="./img/icons/chudautu.png", alt="")
				.item-content
					.item-title.f-16.text-main.text-center.text-uppercase.fw-900 chủ đầu tư
					.item-desc.color-text.f-16.fw-700.text-center Công ty Cổ phần Phát Triển Bất Động sản Phát Đạt
			.item
				.item-img.text-center
					img.lazyload(data-src="./img/icons/quymo.png", alt="")
				.item-content
					.item-title.f-16.text-main.text-center.text-uppercase.fw-900 quy mô
					.item-desc.color-text.f-16.fw-700.text-center 18000 ha
			.item
				.item-img.text-center
					img.lazyload(data-src="./img/icons/vitri.png", alt="")
				.item-content
					.item-title.f-16.text-main.text-center.text-uppercase.fw-900 vị trí
					.item-desc.color-text.f-16.fw-700.text-center QL 19B, Khu kinh tế Nhơn Hội, TP Quy Nhơn
			.item
				.item-img.text-center
					img.lazyload(data-src="./img/icons/tiendo.png", alt="")
				.item-content
					.item-title.f-16.text-main.text-center.text-uppercase.fw-900 tiến độ
					.item-desc.color-text.f-16.fw-700.text-center Đang triển khai