section.pages-contact
	.section-map
		.container
			.wrap-map
				.list-select
					.title-select ASIA NEW TIME
						br
						| Real Estate Development
					ul.list-item.type-none
						li.item(data-href="")
							.title Trụ sở chính
							p.location
								em.mdi.mdi-map-marker
								| 29 Đường D8, Khu Saigon Pearl,  P. 22, Q. Bình Thạnh, TP. HCM
							p.phone
								em.mdi.mdi-phone
								|0911.200.800
							p.email
								em.mdi.mdi-email
								| info@asianewtime.com
						li.item(data-href="")
							.title Trụ sở chính
							p.location
								em.mdi.mdi-map-marker
								| 29 Đường D8, Khu Saigon Pearl,  P. 22, Q. Bình Thạnh, TP. HCM
						li.item(data-href="")
							.title Trụ sở chính
							p.location
								em.mdi.mdi-map-marker
								| 29 Đường D8, Khu Saigon Pearl,  P. 22, Q. Bình Thạnh, TP. HCM
						li.item(data-href="")
							.title Trụ sở chính
							p.location
								em.mdi.mdi-map-marker
								| 29 Đường D8, Khu Saigon Pearl,  P. 22, Q. Bình Thạnh, TP. HCM
				.show-map
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.306034332971!2d106.69467571526036!3d10.787856461931431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f351e2c245f%3A0xb2887356ab89d12b!2sC%C3%A1nh%20Cam%20-%20Web%20Design%20Agency!5e0!3m2!1svi!2s!4v1607671728111!5m2!1svi!2s' width='100%' height='100%' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')
	.section-form(setBackground="./img/background-lh.png")
		.container
			.row
				.col-xl-7
					.wrap-title
						h2.main-title.color-title Form Liên hệ
						p.des Vui lòng điền biểu mẫu này và Gửi. Chúng tôi sẽ liên hệ với bạn trong 1-2 ngày làm việc.
					.wrap-box
						.box-item.box-phone
							em.ri-phone-line
							.text
								p Hotline
								a(href="") 0911 200 800
						.box-item
							em.ri-mail-line
							.text
								p Email
								span info@asianewtime.com
						.box-item
							em.ri-cursor-line
							.text
								p Website
								span www.asianewtime.com
					.wrap-form
						.form-row
							.form-group
								input(type="text" placeholder="Họ và tên*")
							.form-group
								input(type="text" placeholder="Email*")
						.form-row
							.form-group
								input(type="text" placeholder="Số điện thoại*")
							.form-group
								input(type="text" placeholder="Tiêu đề*")
						.form-group
							textarea(name="" cols="30" rows="10" placeholder="Nội dung*")
						.form-group.frm-btnwrap
							.frm-btn
								input(type="submit" value="Gửi")
				.col-xl-5
