$main: #ffcb04
$body: #ffffff
$gray: #6d6e70
$black: #111010
$white: #ffffff
$pink: #fcb4b4
$pink1: #f4c3c5
$bg_color: #f3f3f3
$red: #d7282f
$title: #0a293b
$black: #000000
$opacity: rgba($color: $black, $alpha: .5)
$gradient-2: linear-gradient( 145deg, rgba($color: $main, $alpha: .95) 0%, rgba(233,198,141,0.95) 100%)

