section#about-2.about-page-2.kv-section
	.bg-about(setBackground='../img/about/about-page-1.png')
	.container
		.list-items
			.row
				.col-lg-7.pr-0
					.item-img
						img.lazyload(data-src="./img/about/lookout.png", alt="")
				.col-lg-5.pl-0
					.item-content.d-flex.justify-center.flex-column
						.main-title.text-uppercase.text-main Tầm nhìn
						.desc.f-16.fw-700 Là một trong những sàn giao dịch BĐS có uy tín và tiềm năng, 
							span Asia New Time 
							|đặt mục tiêu trở thành nhà đầu tư, kinh doanh trong tương lai cung cấp nhiều sản phẩm có giá trị cho thị trường BĐS.
		.list-items
			.row
				.col-lg-7.pr-0
					.item-img
						img.lazyload(data-src="./img/about/sumenh.png", alt="")
				.col-lg-5.pl-0
					.item-content.d-flex.justify-center.flex-column
						.main-title.text-uppercase.text-main sứ mệnh
						.desc.f-16.fw-700 Bằng những nổ lực không ngừng, 
							span Asia New Time 
							|cung cấp các sản phẩm bất động sản với chất lượng và giá cả hợp lý để đáp ứng nhu cầu của khách hàng. 