section#about-3.about-page-3.kv-section(setBackground='../img/about/about-page-2.png')
	.container
		.main-title.text-uppercase.text-main.text-center lĩnh vực hoạt động
		.row
			.col-lg-4
				.item.zoom-img
					.item-img
						img.lazyload(data-src="./img/about/i-1.png", alt="")
					.item-content.d-flex.align-center.justify-center
						.desc.f-16.fw-900.text-main.text-uppercase.text-center kinh doanh & tiếp thị
			.col-lg-4
				.item.zoom-img
					.item-img
						img.lazyload(data-src="./img/about/i-2.png", alt="")
					.item-content.d-flex.align-center.justify-center
						.desc.f-16.fw-900.text-main.text-uppercase.text-center ĐẦU TƯ & PHÁT TRIỂN DỰ ÁN
			.col-lg-4
				.item.zoom-img
					.item-img
						img.lazyload(data-src="./img/about/i-3.png", alt="")
					.item-content.d-flex.align-center.justify-center
						.desc.f-16.fw-900.text-main.text-uppercase.text-center NGHIÊN CỨU THỊ TRƯỜNG