.about-1
	min-height: 750px
	position: relative
	overflow: hidden
	margin-top: -60px
	z-index: -1
	.img
		@media screen and ( min-width: 768px)
			display: none
	.col-content
		padding-top: 50px
		.main-title
			&::after
				background-color: $white
		.desc
			padding-top: 30px
		.btn-view-more
			margin-top: 40px
	@media screen and ( max-width: 767px)
		background-image: none !important
		min-height: auto
		.col-content
			padding-top: 20px
			.main-title
				color: $title
				padding-bottom: 7px
				margin-bottom: 15px
				&::after
					background-color: $title
			.desc
				color: $title
				padding-top: 0
			.btn-view-more
				margin-top: 20px
.about-page-2
	position: relative
	padding: 80px 0
	.bg-about
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 785px
		z-index: -1
	.list-items
		margin-bottom: 80px
		background-color: #f8f8f8
		.item-img
			+img-ratio(450/735)
		.item-content
			padding-left: 75px
			padding-right: 75px
			height: 100%
			.main-title
				margin-bottom: 30px
			.desc
				color: $title
				line-height: 24px
				text-align: left
				span
					color: #ffcb04
		&:last-child
			margin-bottom: 0
			.col-lg-7
				order: 2
			.col-lg-5
				order: 1
	@media screen and ( max-width: 991px)
		padding: 25px 0
		.bg-about
			height: 410px
		.list-items
			margin-bottom: 30px
			.item-content
				padding: 30px
			&:last-child
				.col-lg-7
					order: 1
				.col-lg-5
					order: 2
	@media screen and ( max-width: 575px)
		.list-items
			.item-content
				.main-title
					margin-bottom: 15px
.about-page-3
	padding: 72px 0
	.main-title
		margin-bottom: 46px
		&::after
			left: 50%
			transform: translateX(-50%)
	.item
		cursor: pointer
		.item-img
			+img-ratio(400/390)
		.item-content
			width: 100%
			height: 60px
			background-color: $main
	@media screen and ( max-width: 991px)
		padding: 25px 0
		.main-title
			margin-bottom: 30px
		.item
			margin-bottom: 30px
	@media screen and ( max-width: 575px)
		.main-title
			margin-bottom: 15px

