section.product-page.kv-section
	.container
		.filter-wrapper.d-flex.align-center
			.text.f-20.fw-700.text-main Bộ lọc
			.wrapper
				.dropdown.d-flex.align-center.justify-between
					a.f-16.fw-500.text-main.d-flex.align-center(href="")
						em.ri-building-2-fill
						.text Khu vực
						em.ri-arrow-down-s-line
					.dropdown-menu
						ul
							li
								a(href="") Hà Nội
							li
								a(href="") TP.Hồ Chí Minh
			.wrapper
				.dropdown.d-flex.align-center.justify-between
					a.f-16.fw-500.text-main.d-flex.align-center(href="")
						em.ri-shape-2-fill
						.text Dựu án
						em.ri-arrow-down-s-line
					.dropdown-menu
						ul
							li
								a(href="") Căn hộ
							li
								a(href="") Đất nền
		.product-wrapper
			.row
				-for(i=1; i<7; i++)
					.col-lg-4
						.item-product.zoom-img
							a.item-img(href="resale-detail.html")
								img.lazyload(data-src="./img/product/product-"+i+".png", alt="")
							.item-content
								a(href="resale-detail.html")
									.text.text-capitalize.f-18.text-main.fw-700 Long Thành Central
				.modulepager
					ul.pagination
						li.active
							a(href="") 1
						li
							a(href="") 2
						li
							a(href="") 3
