section.product-page.kv-section
	.container
		.filter-wrapper
			.text Bộ lọc
			.wrapper
				.dropdown
					a(href="") 
						em.ri-building-2-fill
						|Khu vực
						em.ri-arrow-down-s-line
					.dropdown-menu
						ul
							li
								a(href="") Hà Nội
							li
								a(href="") TP.Hồ Chí Minh
			.wrapper
				.dropdown
					a(href="")
						em.ri-shape-2-fill
						|Dựu án
						em.ri-arrow-down-s-line
					.dropdown-menu
						ul
							li
								a(href="") Căn hộ
							li
								a(href="") Đất nền
		.product-wrapper
			.row
				-for(i=1; i<7; i++)
					.col-lg-4
						.item-product
							.item-img
								a(href="resale-detail.html")
									img.lazyload(data-src="./img/product/product-"+i+".png", alt="")
							.item-content
								a(href="resale-detail.html")
									.text.text-capitalize.f-18.text-main.fw-700 Long Thành Central
				.modulepager
					ul.pagination
						li
							a(href="") 1
						li
							a(href="") 2
						li
							a(href="") 3
