extends _layout.pug

block var
	- var title = 'Dự Án Chi Tiết'
	- var bodyClass = 'projectpage'

block main
	include ../components/banner/pagebanner.pug
	include ../components/project/project-detail-1.pug
	include ../components/project/project-detail-2.pug
	include ../components/project/project-detail-3.pug
	include ../components/project/project-detail-4.pug
	include ../components/project/project-detail-5.pug
