extends _layout.pug

block var
	- var title = 'Giới thiệu'
	- var bodyClass = 'aboutpage'

block main
	include ../components/banner/pagebanner.pug
	include ../components/_global/breadcrumb.pug
	include ../components/about/about-1.pug
	include ../components/about/about-2.pug
	include ../components/about/about-3.pug