extends _layout.pug

block var
	- var title = 'Trang chu'
	- var bodyClass = 'homepage overflow-hidden'

block main
	.full-page
		include ../components/home/home-1.pug
		include ../components/home/home-1.pug
