extends _layout.pug

block var
	- var title = 'Resale'
	- var bodyClass = 'projectpage'

block main
	include ../components/banner/pagebanner.pug
	include ../components/_global/breadcrumb.pug
	include ../components/product-detail/product-detail-1.pug
	include ../components/product-detail/product-detail-2.pug
	include ../components/product-detail/product-detail-3.pug
	include ../components/product-detail/product-detail-4.pug
	include ../components/product-detail/product-detail-5.pug
	include ../components/product-detail/product-detail-6.pug
	include ../components/product-detail/product-detail-7.pug
	include ../components/product-detail/product-detail-8.pug