extends _layout.pug

block var
	- var title = 'Trang chu'
	- var bodyClass = 'newspge'

block main
	include ../components/banner/pagebanner.pug
	include ../components/_global/breadcrumb.pug
	include ../components/list-tin/index.pug