section.home-page-4.kv-section(setBackground='../img/index/bg-home-4.png' data-title='tin tức')
	.container
		.row
			.col-lg-6
				.main-title.text-uppercase tin thị trường
				.big-image
					.item-news.zoom-img.zoom-img
						.item-img
							a(href="")
								img.lazyload(data-src="./img/index/news-1.png", alt="")
						.item-desc
							a(href="").text.f-18 Pháp lý minh bạch giúp Nhơn Hội New City hút khách
							.time 15.09.2020
				.small-image
					.row
						.col-lg-6
							.item-news.zoom-img
								.item-img
									a(href="")
										img.lazyload(data-src="./img/index/news-3.png", alt="")
								.item-desc
									a(href="").text.f-16 Đất nền ven biển miền Trung sẽ ra sao trong năm 2020? 
									.time 15.09.2020
						.col-lg-6
							.item-news.zoom-img
								.item-img
									a(href="")
										img.lazyload(data-src="./img/index/news-4.png", alt="")
								.item-desc
									a(href="").text.f-16 Bình Định: Thu hút đầu tư bứt phá nhờ phát triển hạ tầng
									.time 15.09.2020
				a.btn.btn-view-more(href="") Xem tất cả
			.col-lg-6
				.main-title.text-uppercase hoạt động asia new time
				.big-image
					.item-news.zoom-img
						.item-img
							a(href="")
								img.lazyload(data-src="./img/index/news-2.png", alt="")
						.item-desc
							a(href="").text.f-16 Ra mắt Kỳ Co Gateway - cửa ngõ du lịch biển Quy Nhơn
							.time 15.09.2020
				.small-image-more
					.row
						.col-lg-4
							.item-news.zoom-img
								.item-img
									a(href="")
										img.lazyload(data-src="./img/index/news-5.png", alt="")
								.item-desc
									a(href="").text.f-16 Cơ hội đầu tư tại 'Thành phố Du lịch sạch ASEAN 2020' Quy Nhơn
									.time 15.09.2020
						.col-lg-4
							.item-news.zoom-img
								.item-img
									a(href="")
										img.lazyload(data-src="./img/index/news-6.png", alt="")
								.item-desc
									a(href="").text.f-16 Du lịch “nâng cánh” cho bất động sản miền Trung
									.time 15.09.2020
						.col-lg-4
							.item-news.zoom-img
								.item-img
									a(href="")
										img.lazyload(data-src="./img/index/news-7.png", alt="")
								.item-desc
									a(href="").text.f-16 Thêm 2 dự án điện gió đầu tư tại Khu kinh tế Nhơn Hội
									.time 15.09.2020
				a.btn.btn-view-more(href="") Xem tất cả