section.home-page-banner(data-title='Trang Chủ')
	.swiper-container.banner-wrapper
		.swiper-wrapper
			.swiper-slide
				.swiper-zoom-container
					.img
						img.ovh.lazyload(data-src="./img/banner/b-1.png" alt="")
					.content
						.text
							span Tận tâm 
							|- Chìa Khóa Vàng của thành công
			.swiper-slide
				.swiper-zoom-container
					.img
						img.ovh.lazyload(data-src="./img/banner/b-2.png" alt="")
					.content
						.text
							span Nơi nhân tài hội tụ 
							|- Mang đến giá trị bền vững cho cộng đồng
			.swiper-slide
				.swiper-zoom-container
					.img
						img.ovh.lazyload(data-src="./img/banner/b-3.png" alt="")
					.content
						.text
							span Sản phẩm hấp dẫn 
							|- Mang đến nhiều cơ hội đầu tư cho khách hàng
			//- .swiper-pagination
	



