section.home-page-2(setBackground='../img/index/bg-home-2.png')
	.container.d-flex.justify-center
		.row
			.col-lg-8
			.col-lg-4
				.col-content
					.main-title.text-white Câu chuyện Asia New Time
					.desc.color-white.f-18 Với hơn 20.000 sản phẩm bất động sản đa dạng, thuộc các khu vực có tiềm năng phát triển nhất hiện nay, Asia New Time tự hào mang đến nhiều sự lựa chọn, phù hợp với nhu cầu đầu tư cũng như an cư của mọi khách hàng. Chúng tôi luôn nỗ lực hết mình để mang đến cho Qúy khách hàng những điều tốt đẹp nhất.
					a.btn.btn-view-more(href="") Xem chi tiết

