.home-page-banner
	padding: 0
	background-color: #ffffff
	.banner-wrapper
		width: 100%
		.swiper-slide
			position: relative
			width: 100%
			height: 100%
			.img
				width: 100%
				height: 100vh
			.content
				position: absolute
				left: 50%
				bottom: 3%
				transform: translateX(-50%)
				.text
					max-width: 850px
					text-shadow: 2px 0 5px rgba(0, 0, 0, 0.25)
					color: #ffffff
					font-size: 48/16*1rem
					font-weight: 900
					text-align: center
					span
						color: $main
.home-page-2
	.col-content
		.main-title
			&::after
				background-color: $white
		.desc
			padding-top: 30px
		.btn-view-more
			margin-top: 40px
.home-page-3
	.zone-section
		width: 100%
		.main-title
			margin-bottom: 15px
			&::after
				left: 50%
				transform: translateX(-50%)
		.zone-desc
			max-width: 841px
			margin: 0 auto
			color: $title
			font-weight: 400
			line-height: 24px
			text-align: center
	.zone-wrapper
		padding-top: 30px
		.tab-panels
			.tabs
				position: relative
				max-width: 540px
				margin: 0 auto
				padding-bottom: 20px
				margin-bottom: 50px
				.item
					margin-right: 60px
					position: relative
					&::after
						position: absolute
						top: 85%
						left: 50%
						transform: translateX(-50%)
						content: ''
						width: 15px
						height: 15px
						border-radius: 50%
						border: 2px solid #6d6e70
						z-index: 2
					&:last-child
						margin-right: 0
				&::after
					position: absolute
					top: 50%
					left: 0
					content: url('../img/icons/dotted.png')
			.panel
				position: relative
				.single-swiper
					position: relative
					.swiper-container
						overflow: visible
					.project-item
						position: relative
						transition: all 1s cubic-bezier(.22, .44, 0, 1)
						.item-link
							.item-img
								display: block
								position: relative
								padding-top: 121%
								height: 480px
								overflow: hidden
								transition: all 1s cubic-bezier(.22, .44, 0, 1)
								img
									width: 100%
									height: 100%
									object-fit: cover
									position: absolute
									top: 0
									left: 0
								&::after
									pointer-events: none
									position: absolute
									content: ''
									top: 0
									left: 0
									width: 100%
									height: 100%
									background-color: rgba($color: #000000, $alpha: .5)
									transition: all 1s cubic-bezier(.22, .44, 0, 1)
								.img-hover
									position: relative
									width: 100%
									height: 20px
									background-color: #ffcb04
									&::before
										content: ''
										position: absolute
										left: 50%
										top: -100%
										transform: translateX(-50%)
										transition: all 1s cubic-bezier(.22, .44, 0, 1)
										width: 1px
										height: 20px
										background-color: #ffffff
							.item-desc
								position: absolute
								bottom: 40px
								left: 0
								width: 100%
								transition: all 1s cubic-bezier(.22, .44, 0, 1)
								.text
									color: #ffffff
									font-weight: 400
						&:hover
							transition: all 1s cubic-bezier(.22, .44, 0, 1)
							transform: translateY(-20px)
							.item-link
								.item-img
									overflow: visible
									transition: all 1s cubic-bezier(.22, .44, 0, 1)
									&::after
										background: none
									.img-hover
										&::before
											height: 50px
											background-color: $main
											top: unset
											bottom: 100%
								.item-desc
									bottom: 70px
									.text
										color: $main
					.swiper-button-next,
					.swiper-button-prev
						top: 50%
						width: 60px
						height: 60px
						border-radius: 50%
						border: 2px solid #ffffff
						opacity: .5
						transition: all 1s cubic-bezier(.22, .44, 0, 1)
						&:focus
							outline: none
						&:hover
							opacity: 1
					.swiper-button-next
						right: -117px
						&::after
							position: absolute
							content: url('../img/icons/arrow-right-white.png')
							left: -70%
							top: 50%
							transform: translateX(50%)
							transform: translateY(-50%)
					.swiper-button-prev
						left: -117px
						&::after
							position: absolute
							content: url('../img/icons/arrow-left-white.png')
							right: -70%
							top: 50%
							transform: translateX(50%)
							transform: translateY(-50%)
				.btn-view-more
					position: absolute
					left: 50%
					transform: translateX(-50%)
					margin-top: 30px
.home-page-4
	> div
		align-items: center
		justify-content: center
	.main-title
		font-size: 24/16*1rem
		font-weight: 700
		color: $title
		margin-bottom: 30px
	.big-image,
	.small-image,
	.small-image-more
		margin-bottom: 30px
		.item-news
			position: relative
			.item-img
				position: relative
				a
					display: block
					position: relative
					overflow: hidden
					img
						width: 100%
						height: 100%
						position: absolute
						top: 0
						left: 0
						object-fit: cover
			.item-desc
				position: absolute
				bottom: 0
				left: 0
				z-index: 2
				width: 100%
				max-height: 60px
				padding-left: 20px
				padding-top: 20px
				padding-bottom: 20px
				background-color: #ffffff
				transition: all 1s cubic-bezier(.22, .44, 0, 1)
				.text
					color: $title
					font-weight: 400
				.time
					right: -6%
					bottom: 96px
			&:hover
				.item-desc
					transition: all 1s cubic-bezier(.22, .44, 0, 1)
					background-color: $main
					background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 203, 4, 0.5) 100%)
					opacity: 0.9
	.big-image
		.item-news
			.item-img
				height: 370px
				a
					padding-top: 52%
	.small-image
		.item-news
			position: relative
			.item-img
				height: 170px
				a
					padding-top: 100%
			.item-desc
				max-height: 70px
				padding-top: 7px
				padding-bottom: 18px
				position: relative
				.text
					line-height: 20px
				.time
					right: -12.5%
					bottom: 105px

	.small-image-more
		.item-news
			.item-img
				height: 127px
				a
					padding-top: 70%
			.item-desc
				position: relative
				min-height: 113px
				padding: 7px 18px
				.time
					right: -20%
					bottom: 150px
.home-page-5
	> div
		align-items: center
		justify-content: center
	.main-title
		margin-bottom: 30px
		&::after
			left: 50%
			transform: translateX(-50%)
			background-color: $white
	.item-career
		margin-bottom: 30px
		position: relative
		.item-title
			font-weight: 700
			text-align: left
			margin-bottom: 25px
		.item-img
			width: 100%
			a
				display: block
				position: relative
				padding-top: 133%
				img
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 510px
		.item-desc
			position: absolute
			bottom: 26px
			left: 0
			padding-left: 30px
			padding-right: 40px
		.item-inner
			display: flex
			margin-bottom: 10px
			.item-img
				max-width: 120px
				min-height: 120px
				a
					display: block
					position: relative
					padding-top: 100%
					img
						position: absolute
						top: 0
						left: 0
						width: 100%
						height: 100%
						min-height: unset
			.item-desc
				padding: 12px 20px
				background-color: $white
				position: static
				display: flex
				flex-direction: column
				justify-content: space-around
				.text
					font-weight: 600
					color: $title
					line-height: 20px
					text-align: left
					margin-bottom: 17px
				.view-more
					position: relative
					width: max-content
					padding-right: 10px
					&::after
						content: ''
						position: absolute
						top: 50%
						left: 100%
						transform: translateY(-50%)
						width: 20px
						height: 1px
						background-color: #6d6e70
			&:last-child
				margin-bottom: 0
			&:nth-child(odd)
				.item-img
					order: 2
				.item-desc
					order: 1
.home-page-6
	background-color: $white
	display: flex
	flex-direction: column
	padding: 0
	&.active
		display: none

