section#pro-detail-2.resale-detail-3.kv-section(setBackground='./img/product/detail-bg-1.png')
	.container
		.row
			.col-lg-7
				.content
					.main-title.fw-900.text-main.text-uppercase thông tin sản phẩm
					table
						tr
							td Mã sản phẩm
							td ANLTCT001
						tr
							td Sản phẩm thuộc dự án
							td Long Thành Central
						tr
							td Vị trí
							td Xã Bình Sơn, huyện Long Thành, tỉnh Đồng Nai.
						tr
							td Diện tích
							td 100m2
						tr
							td Số phòng ngủ
							td 02
						tr
							td Giá bán
							td Liên hệ
							ANLTCT001
			.col-lg-5
				.img
					img.lazyload(data-src="./img/product/detail-2.png", alt="")