section#pro-detail-2.resale-detail-5.kv-section
	.container
		.main-title.fw-900.text-main.text-uppercase.center TIỆN ÍCH KHU VỰC
		.zone-desc.text-center.fw-700.f-16 Công viên cây xanh, khu mua sắm, khu nhà hàng và café… những cư dân tương lai của Long Thanh Central còn thụ hưởng đầy đủ các tiện ích ngoại khu đẳng cấp chỉ trong 5 đến 10 phút di chuyển.
		.list-wrapper
			.row
				.col-lg-6
					a(href="./img/product/detail-4.png" data-fancybox="Image")
						.zoom-img
							.img
								img.lazyload(data-src="./img/product/detail-4.png", alt="")
				.col-lg-6
					a(href="./img/product/detail-5.png" data-fancybox="Image")
						.zoom-img
							.img
								img.lazyload(data-src="./img/product/detail-5.png", alt="")
				.col-lg-4
					a(href="./img/product/detail-6.png" data-fancybox="Image")
						.zoom-img
							.img
								img.lazyload(data-src="./img/product/detail-6.png", alt="")
				.col-lg-4
					a(href="./img/product/detail-7.png" data-fancybox="Image")
						.zoom-img
							.img
								img.lazyload(data-src="./img/product/detail-7.png", alt="")
				.col-lg-4
					a(href="./img/product/detail-8.png" data-fancybox="Image")
						.zoom-img
							.img
								img.lazyload(data-src="./img/product/detail-8.png", alt="")