.zone-nav
	.container
		.categroly
			.box-category
				em.material-icons expand_more
			ul
				li.d-flex.align-center.justify-center.transition
					a.nav-link.fw-700.f-14(href="#pro-detail-1") Long Thành Central
				li.d-flex.align-center.justify-center.transition
					a.nav-link.fw-700.f-14(href="#pro-detail-2") Video
				li.d-flex.align-center.justify-center.transition
					a.nav-link.fw-700.f-14(href="#pro-detail-2") Thông tin sản phẩm
				li.d-flex.align-center.justify-center.transition
					a.nav-link.fw-700.f-14(href="#pro-detail-3") Nội thất
				li.d-flex.align-center.justify-center.transition
					a.nav-link.fw-700.f-14(href="#pro-detail-4") Tiện ích
				li.d-flex.align-center.justify-center.transition
					a.nav-link.fw-700.f-14(href="#pro-detail-5") Mặt bằng phân lô
section#pro-detail-1.resale-detail-1.kv-section
	.container
		.main-title.center.text-uppercase.text-main LONG THÀNH CENTRAL
		.desc.f-16.fw-700.text-center.color-text Dự án Long Thanh Central sở hữu vị trí đắc địa - ngay lõi đô thị thông minh – “thành phố sân bay”, thuộc quy hoạch KĐT phía Bắc Sân bay Quốc Tế Long Thành. Dự án có tổng diện tích lên đến 46.910m2, bao gồm 169 nền nhà phố và 28 nền biệt thự với sổ đỏ lâu dài.
		.list-items.d-flex.align-center.justify-center
			.item
				.item-img.text-center
					img.lazyload(data-src="./img/icons/chudautu.png", alt="")
				.item-content
					.item-title.f-16.text-main.text-center.text-uppercase.fw-900 chủ đầu tư
					.item-desc.f-16.fw-700.text-center.color-text Công ty Cổ phần Phát Triển Bất Động sản Phát Đạt
			.item
				.item-img.text-center
					img.lazyload(data-src="./img/icons/quymo.png", alt="")
				.item-content
					.item-title.f-16.text-main.text-center.text-uppercase.fw-900 quy mô
					.item-desc.f-16.fw-700.text-center.color-text 18000 ha
			.item
				.item-img.text-center
					img.lazyload(data-src="./img/icons/vitri.png", alt="")
				.item-content
					.item-title.f-16.text-main.text-center.text-uppercase.fw-900 vị trí
					.item-desc.f-16.fw-700.text-center.color-text QL 19B, Khu kinh tế Nhơn Hội, TP Quy Nhơn
			.item
				.item-img.text-center
					img.lazyload(data-src="./img/icons/tiendo.png", alt="")
				.item-content
					.item-title.f-16.text-main.text-center.text-uppercase.fw-900 tiến độ
					.item-desc.f-16.fw-700.text-center.color-text Đang triển khai