section#pro-detail-2.resale-detail-8.kv-section(setBackground="./img/product/detail-11.png")
	.container
		.row
			.col-xl-7
				.wrap-title
					.main-title.text-main.fw-900 Form Liên hệ
					p.des Vui lòng điền biểu mẫu này và Gửi. Chúng tôi sẽ liên hệ với bạn trong 1-2 ngày làm việc.
				.wrap-box
					.box-item.box-phone
						em.ri-phone-line
						.text
							p Hotline
							a(href="") 0911 200 800
					.box-item
						em.ri-mail-line
						.text
							p Email
							span info@asianewtime.com
					.box-item
						em.ri-cursor-line
						.text
							p Website
							span www.asianewtime.com
				.wrap-form
					.form-row
						.form-group
							input(type="text" placeholder="Họ và tên*")
						.form-group
							input(type="text" placeholder="Email*")
					.form-row
						.form-group
							input(type="text" placeholder="Số điện thoại*")
						.form-group
							input(type="text" placeholder="Tiêu đề*")
					.form-group
						textarea(name="" cols="30" rows="10" placeholder="Nội dung*")
					.form-group.frm-btnwrap
						.frm-btn
							input(type="submit" value="Gửi")
			.col-xl-5