section#pro-detail-2.resale-detail-7.kv-section
	.container
		.main-title.text-main.text-uppercase.fw-900.center mặt bằng tầng
		.img.text-center
			img.lazyload(data-src="./img/project/matbang.png", alt="")
