section#pro-detail-2.resale-detail-2.kv-section
	.container-fluid
		.row
			.col-lg-5.pr-0
				.content-wrapper.d-flex.flex-column.justify-center
					.main-title.fw-700.text-main.text-uppercase TỔNG QUAN
					.desc
						p Ưu điểm chung của tất cả những nhà phố cao tầng xây dựng tại Nhà phố Long Thành Central Long Thành Central đó chính là kiến trúc hiện đại, kiến trúc thông minh tối đa không gian mở và đặc biệt là ở tại bất cứ Đất nền nào quý khách hàng cũng đều sở hữu tầm view đẹp ra các phía cũng như luôn yên tâm về vấn đề kết nối, di chuyển.
			.col-lg-7
				.img
					a(href="https://www.youtube.com/watch?v=bLdmqV0P3wE" data-fancybox)
						img.lazyload(data-src="./img/product/detail-1.png", alt="")
					.play-icon
						img(src="./img/icons/play-button.png", alt="")