section#pro-detail-2.resale-detail-4.kv-section
	.container
		.main-title.fw-900.text-main.text-uppercase.center nội thất
		.image-wrapper
			img.lazyload(data-src="./img/product/detail-3.png", alt="")
		.list-wrapper
			.row
				.col-lg-3
					.list-item
						ul
							li
								p Nhà bếp
							li
								p Hồ bơi
							li
								p Thang máy
							li
								p Thang máy
				.col-lg-3
					.list-item
						ul
							li
								p Nhà bếp
							li
								p Hồ bơi
							li
								p Thang máy
							li
								p Thang máy
				.col-lg-3
					.list-item
						ul
							li
								p Nhà bếp
							li
								p Hồ bơi
							li
								p Thang máy
							li
								p Thang máy
				.col-lg-3
					.list-item
						ul
							li
								p Nhà bếp
							li
								p Hồ bơi
							li
								p Thang máy
							li
								p Thang máy