section.page-library.main-section-bootom
	include ../tab_nav/nav-1/index.pug
	.wrap-page-gallery
		.container
			.wrap-row-1
				.row
					.col-xl-6
						a(href="./img/gallery/g-1.png" data-fancybox="gallery").box-img-big
							.img
								img(alt="" data-src="./img/gallery/g-1.png" class="lazyload")
							.icon
								img(data-src="./img/gallery/playvideo.png" alt="" class="lazyload")
							.text Video 1
					.col-xl-6
						.row
							-for(i=0;i<4;i++)
								.col-lg-6
									a(href="./img/gallery/g-2.png" data-fancybox="gallery").box-img-small
										.img
											img(data-src="./img/gallery/g-2.png" alt="" class="lazyload")
										.icon
											img(data-src="./img/gallery/playvideo.png" alt="" class="lazyload")
										.text Video 1
			.wrap-row-1
				.row
					.col-xl-6
						a(href="./img/gallery/g-1.png" data-fancybox="gallery").box-img-big
							.img
								img(data-src="./img/gallery/g-1.png" alt="" class="lazyload")
							.icon
								img(data-src="./img/gallery/playvideo.png" alt="" class="lazyload")
							.text Video 1
					.col-xl-6
						.row
							-for(i=0;i<4;i++)
								.col-lg-6
									a(href="./img/gallery/g-2.png" data-fancybox="gallery").box-img-small
										.img
											img(data-src="./img/gallery/g-2.png" alt="" class="lazyload")
										.icon
											img(data-src="./img/gallery/playvideo.png" alt="" class="lazyload")
										.text Video 1
		ul.pagination
			li.active
				a 1
			li
				a 2
			li
				a 3


