.nav-1
	width: 100%
	.list-nav
		display: flex
		align-items: center
		justify-content: center
		li
			&.active
				a
					background-color: $main
			a
				min-width: 230px
				height: 60px
				background-color: $bg_color
				display: flex
				align-items: center
				justify-content: center
				color: #08293c
				font-size: 14px
				font-weight: 700
