<?xml version="1.0" encoding="utf-8" ?>
<templates>
    <position>
        <add name="Sản phẩm liên quan - giỏ hàng" value="10" resourcefile="" />
        <add name="Sản phẩm đã xem" value="0" resourcefile="" />
        <add name="Sản phẩm trang chủ - bán chạy" value="1" resourcefile="" />
    </position>
    <!-- Danh sách sản phẩm -->
    <templatelist xsltname="ProductList.xslt" name="Danh sách sản phẩm" />

    <!-- Detail -->
    <templatedetail xsltname="ProductDetail.xslt" name="Chi tiết sản phẩm" />
</templates>