<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu chính" value="1" resourcefile="" />
      <add name="Menu footer" value="2" resourcefile="" />
      <add name="Footer Đối Tác" value="4" resourcefile="" />
      <add name="Menu chính 2" value="8" resourcefile="" />
      <add name="Home giới thiệu" value="16" resourcefile="" />
      <add name="Home tin tức" value="32" resourcefile="" />
      <add name="Home dự án" value="64" resourcefile="" />
      <add name="Home văn hoá ASIA" value="128" resourcefile="" />
    </position>

</settings>