section.page-library
	include ../tab_nav/nav-1/index.pug
	.wrap-page-gallery
		.container
			.wrap-row-1
				.row
					.col-lg-6
						a(href="").box-img-big
							.img
								img(src="" alt="")
							.text
								.img
					.col-lg-6
						-for(i=0;i<4;i++)
							.col-lg-3
								.box-img-small

